{# This should be highlighted like a comment #}

{# Variables #}
{{ variable }}
{{ variable | with | filter }}
{{ filtering | with(arg, args) }}
{{ filtering | with.attribute(foo) }}

{# Statements #}
{% jinja_statement %}
{% statement with arguments %}
{% function_call() %}

{# Control of command #}
{% if foo or bar %}
{% else if baz %}
{% endif %}

{% for foo in foos %}
{% endfor %}
